body {
    background-color: #99ccff;
}
a {
    font-size:25pt;
}
.header {
    height: 230px; background-color: #20a7e0;
    
    width: 100%;
    
}

.container {
    height: auto; background-color: #0066cc;
    width: 100%;
    
}

.footer {
    height: 70px; background-color: #3399ff;
    width: 100%;

}

.admtxt {
    color: #ccccff;
    font-size: 60pt;
    font-family: helvetica;
    float: right;
    margin-right: 50px;
    margin-top: -22px;
}
/*.menu {
    color: #ccccff;
    height: 40px;
    font-size: 24pt;
    width: 100%;
    background-color: #0066ff;
}
.menuitem1 {
    width:24%;
    float: left;
    text-align:center;
    border-color:black;
    border:solid;
    border-width:2px;
}
.menuitem2 {
    width: 24.8%;
    float: left;
    text-align: center;
    border: solid;
    border-width: 2px;
}
.menuitem3 {
    width: 24.5%;
    float: left;
    text-align: center;
    border: solid;
    border-width: 2px;
}
.menuitem4 {
    width: 25%;
    float: left;
    text-align: center;
    border: solid;
    border-width: 2px;
}*/
